
body {
    background: url(/bg2.jpg);
    background-size: cover;
}

.wizard-container {
    opacity: 0.94;
}

.wizard-container .card {
    border: 0;
}
.wizard-container [data-background-color="primary"] {
    background-color: rgba(14, 17, 39, 0.71);
}
.wizard-container [data-background-color="primary"] .moving-tab {
    color: black;
}

.questionBorder, blockquote {
    background-color: #DDDDDD;
    width: 100%;
    border-radius: 30px;
    padding: 5px;
}

div.questionBorderTop:last-child {
    margin-top: 20px;
}

blockquote {
    font-size: 11px;
    border-radius: 10px;
}

.card-title {
    font-size: 16px !important;
}